.Digital-Section5-MainContent{
    background-color: #f7f7f7;

}
.Digital-Section5-MainContent h1{
    color: #1e1e1e;
    font-size: 36px;
    font-family: poppins;
    text-align: center;
    padding-top: 7%;
    margin-bottom: 5%;
}
#card-align{
    width: 18rem !important;
    height: 15rem !important;
    margin-left: -8%;
    margin-top: -9%;
}
.card-title h5{
    font-size: 48px;
    color: #303030;
    font-family: poppins;
}
.card{
    margin: 3.5%;
}
.card h5{
    font-size: 40px;
    color: #303030;
    font-family: poppins;
    margin-top: -15%;
}
.cardbody h4{
    color: #303030;
    font-size: 20px;
}