.AboutAdvantage-Container{
    text-align: center;
}

.AboutAdvantage-Container h1{
    color: #FECC00;
    font-size: 32px;
    font-family: Montserrat, sans-serif;
    margin-top: 9rem;
}
.AboutAdvantage-Container h2{
    color: #6f6f6f;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-left: 15rem;
    padding-right: 15rem;
    line-height: 30px;
    margin-bottom: 3rem;
}
.AboutAdvantage-Container h3{
    color: #6f6f6f;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.AboutAdvantage-Container h4{
    line-height: 30px;
    padding-left: 25rem;
    padding-right: 25rem;
    color: #6f6f6f;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4rem;
}