#section1{
    height: 47rem;
    width: 72rem;
    filter: brightness(50%);
}
.About-main-content{
    margin-left: 5.625rem;
}
.About_img-merge-data{
    float: right;
    background-color: rgba(255, 190, 0, .85); 
    opacity: 95%;
    margin-top: -29rem;
    width: 29rem;
    padding: 4rem;
    margin-top: -37%;
    width: 42%;
    padding: 5%;   
}
.About_img-merge-data h1{
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 600;
    opacity: 90%;
    color: #ffffff;
    letter-spacing: 2px;
}
.About_img-merge-data h3{
    text-align: justify;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #ffffff;
    width: 20rem;
    letter-spacing: 0.5px;
}
.About_img-merge-data hr{
    border: none;
    background-color: white; 
    height: 2px;
    width: 15rem;
    float: left;
    margin-top: -0.5rem;
}