.BackData2-mid-data img{
    width: 28%;
    margin-left: 33%;
    margin-top: -24%
}
.BackData2-mid-data h1{
    margin-left: 5px;
    font-size: 48px;
    font-family: Montserrat, sans-serif;
    color: #FECC00;
    margin: 18px;
    margin-top: 10%;
}
.BackData2-mid-data hr{
    width: 15%;
    float: left;
    height: 2px;
    background-color: #FECC00;
    margin-top: -2%;
    border: #FECC00;
}
.BackData2-mid-data h2{
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    width: 25%;
    margin-top: -0%;
}
.BackData2-mid-data{
    padding: 70px;
}
.Backdata2-mid-content{
    float: right;
    width: 35%;
    margin-top: -42%;
    position: relative;
}
.Backdata2-mid-content h3{
    color: #232323;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin-bottom: 5%;
    line-height: 26px;
}
.Backdata2-mid-content h2{
    color: #6f6f6f;
    font-size: 14px;
    width: 86%;
    font-weight: 500;
}
.Backdata2-mid-content h4{
    color: #232323;
    font-size: 18px;
    width:75%;
    font-weight: 700;
    margin-bottom: 9%;
}
#Backdata2-mid-icon {
    color: #FECC00;
    font-size: 35px;
}