.About_img-middle-content{
    background-color: #f7f7f7; 
    margin-top: -11%;
    position: relative;
    padding: 70px;
}
.About_img-middle-content h1{
    /* margin-left: 5px; */
    font-size: 48px;
    font-family: Montserrat, sans-serif;
    color: #FECC00;
    margin: 18px;
    margin-top: 10%;
}
.About_img-middle-content hr{
    width: 15%;
    float: left;
    height: 2px;
    background-color: #FECC00;
    margin-top: -2%;
    border: #FECC00;
}
.About_img-middle-content h2{
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    width: 20px;
    margin-top: -2%;
}
.About_img-middle-content img{
    width: 28%;
    margin-left: 33%;
    margin-top: -28%;
    
}
.Backdata-mid-contect{
    float: right;
    width: 35%;
    margin-top: -36%;
    position: relative;
}
.Backdata-mid-contect h3{
    color: #232323;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 65%;
    margin-bottom: 10%;
}
.Backdata-mid-contect h4{
    color: #6f6f6f;
    font-size: 14px;
    width: 84%;
    font-weight: 500;
    margin-bottom: 10%;
}
