.grt-main{
    background-color:#f7f7f7;
}
.grt-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;

}
.grt-info p{
    margin-left:15%;
    margin-right: 15%;
    text-align: center;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grt-card-container{
    text-align: center;
    margin-top: 8%;
}
.card-row-one{
    display: flex;
}
.card1{
    width: 300px;
    height: 330px;
    margin-left: 15%;
    position: relative;
    
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        transition: .3s ease-out;
    }
    
    &::before {
        top: -15px;
        left: -10px;
        border-top: 3px solid #ffcc00;
        border-left: 3px solid #ffcc00;
    }
    
    &::after {
        right: -10px;
        bottom: 14px;
        border-right: 3px solid #ffcc00;
        border-bottom: 3px solid #ffcc00;
    }
    
    &:hover::before,
    &:hover::after {
        transition: 0.6s;
        width: calc(105% );
        height: calc(99% );
    }
}

.card1 img{
    height: 60px;
    width: 60px;
}
.card1 h1{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.card1 p{
    font-size: 15px;
    opacity: 70%;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}