.threeA-main{
    text-align: center;
}
.titl h3{
    font-size: 28px;
}
.titl p{
    font-size: 16px;
    font-weight: 400;
    padding-left: 35px;
    padding-right: 35px;
}
.titl hr{
    width: 140px;
    height: 1px;
    border: none;
    background-color: orange;

}
.a-utube iframe{
    width: 95%;
    height: 400px;
    padding: 15px;
}
.ad-logo{
    margin: 10%;
}

.footer-main{
    background-color: rgb(33, 33, 33);
    text-align: center;
    height: 730px;
}
.foot-titl{
    margin-left: 15%;
    margin-right: 11%;
}
.foot-titl h4{
    color: rgb(141, 130, 130);
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    padding-top: 80px;
}
.foot-titl h2{
    color: white;
    font-size: 27px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
.foot-icon{
    color: white;
}
.foot-row1{
    width: 500px;
}
.foot-row1 img{
    height: 45px;
    width: 45px;
}
.foot-row1 h4{
    font-size: 17px;
    margin-left: 300px;
    margin-top: -30px;
    text-align: justify;
}
.foot-row1 p{
    font-size: 13px;
    color: rgb(166, 162, 162);
    width: 200px;
    margin-left: 300px;
    text-align: justify;
}
.foot-row1 hr{
    width: 300px;
    margin-left: 240px;
    padding: 2px;
    border: none;
    color: aliceblue;
}