.footer-last{
    color: black;
    margin-left: 10%;
}
.footer-last ul{
    margin-left: 65px;
    width: 600px;
}
.footer-last ul li{
    float: left;
    padding: 18px;
    font-size: 14px;
    text-align: center;
    list-style-type: none;
    
}
.icons{
    font-size: 24px;
    margin-left: 67%;
}
.icons ul li{
    list-style-type: none;
    float: left;
    padding: 2%;
    margin-top: -12%;
}
.icons li:hover{
    color: gold;
    transition: 0.2s;
}
#fid{
    color: black;
    text-decoration: none;
}
#fid:hover{
    text-decoration:underline;
}